*{
	padding: 0;
	margin: 0;
}
body{
	padding: 50px;
}

form{
	width: 360px;
}

form span{
	display: inline-block;
	width: 150px;
}
form label{
	padding: 10px;
}
form input[type=text], form input[type=password]{
	padding: 10px;
	margin-top: 10px;
}
form input[type=submit]{
	padding: 10px;
	float: right;
	margin-right: 3px;
	margin-top: 10px;
}
