<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'semi_restful/css/add_update.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h1>Edit User {{user.id}}</h1>
	<form action="/users/{{user.id}}" method="post">
		{% csrf_token %}
		<input type="hidden" name="user_id" value="{{user.id}}">
		<section>
			<span>First name:</span>
			<input type="text" name="first_name" value="{{user.first_name}}">
		</section>
		<section>
			<span>Last name:</span>
			<input type="text" name="last_name" value="{{user.last_name}}">
		</section>
		<section>
			<span>Email</span>
			<input type="email" name="email" value="{{user.email}}">
		</section>
		<input type="submit" value="Update user">
	</form>
	<a href="/users/{{user.id}}">Show</a> | 
	<a href="/users">Go Back</a>
</body>
</html>